APP_DOMAIN=app.local
TZ=Europe/London

MARIADB_DATABASE=app_db
MARIADB_USER=romero
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=

WEBSERVER_CONTAINER_NAME=webserver
PHP_CONTAINER_NAME=php
MARIADB_CONTAINER_NAME=mariadb
PHPMYADMIN_CONTAINER_NAME=phpmyadmin
PROXY_CONTAINER_NAME=webserver_proxy_https

PHPMYADMIN_PORT=8080
HTTP_PORT=80
HTTPS_PORT=443