COMPOSE_PROFILES=mysql #postgres

APP_DOMAIN=test
TZ=Europe/London

DB_DRIVER=mysql #pgsql
DB_HOST=mariadb #postgresdb
DB_DATABASE=app_db
DB_EMAIL=admin@admin.com
DB_USER=ca_user
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_ALLOW_EMPTY_PASSWORD=yes

WEBSERVER_CONTAINER_NAME=webserver
PHP_CONTAINER_NAME=php
MARIADB_CONTAINER_NAME=mariadb
POSTGRES_CONTAINER_NAME=postgresdb
PHPMYADMIN_CONTAINER_NAME=phpmyadmin
PROXY_CONTAINER_NAME=webserver_proxy_https

DOCKER_RESTART_POLICY=unless-stopped

MYSQL_PORT=3306
PHPMYADMIN_PORT=8080

POSTGRES_PORT=5432
PGADMIN_PORT=8081

HTTP_PORT=80
HTTPS_PORT=443